# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a=0
def b():
    global a
    a =c(a)
    
def c(a):
    return a+2

In [2]:
b()#0
b()#0+2
b()#2+2
a

6

1st time to execute b() globle a is 0, 2st time to execute b() at this time a became 2(bcause function c(a): 0+2), at third time to execute b() a was 4(2+2)ï¼Œwhen the last time to execute a=4+2=6Â¶

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('midterm.py') 284 fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py' As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: fileLength('midterm.py') 358 fileLength('idterm.py') File idterm.py not found

In [3]:
def fileLength(filename):
    try:
        file = open('C:\\Users\\jane\\Downloads\\types.txt')
        contents = file.read()
        file.close()
    
        line=""
        for a in contents:
            line+=a
        result=len(line)
        return result
    except FileNotFoundError:
        return ("File{} not found.".format(filename))

print(fileLength('type.ipynb'))

102

In [6]:
def fileLength(filename):
    #reading
    try:
        file=open(filename,'r')
        contents = file.read()
        file.close()
        
        for a in contents:
            line+=a
        result=len(line)
        return result
    except FileNotFoundError:
        return ("File{} not found.".format(filename))

print(fileLength('itype.txt'))

Fileitype.txt not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial() m.put_in_pouch('doll') m.put_in_pouch('firetruck') m.put_in_pouch('kitten') m.pouch_contents() ['doll', 'firetruck', 'kitten'] BDAT 1004 â€“ Data Programming Page 3 of 7 W2020 BDAT 1004 Computer Studies Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the str operator so it behaves as shown below. k = Kangaroo(0,0) print(k) I am a Kangaroo located at coordinates (0,0) k.put_in_pouch('doll') k.put_in_pouch('firetruck') k.put_in_pouch('kitten') k.pouch_contents() ['doll', 'firetruck', 'kitten'] k.jump(1,0) k.jump(1,0) k.jump(1,0) print(k) I am a Kangaroo located at coordinates (3,0)

In [7]:
class Marsupial:
    
    pouch_contents=[]
    def __init__(self,name):
            self.name=name
    def put_in_pouch(self, stuff):
        self.pouch_contents.append(stuff)
m=Marsupial("Mar")
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents

['doll', 'firetruck', 'kitten']

In [8]:
class Marsupial:
    
    pouch_contents=[]
    def __init__(self,name):
            self.name=name
    def put_in_pouch(self, stuff):
        self.pouch_contents.append(stuff)
class Kangaroo(Marsupial):
      def _init_(self, a,b):
        Marsupial._init_(self)
        self.a=a
        self.b=b
      def jump(self, da, db):
        self.x+=da
        self.x+=db
      def str(self):
        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

SyntaxError: invalid syntax (<ipython-input-8-de56bf5e58f9>, line 24)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loop

In [ ]:
def collatz(number):
    if (number % 2 == 0):
        return number // 2

    elif (number % 2 == 1):
        return 3 * number + 1

print('What number would you like to use?')

i = int(input())
while i > 1:     
    i = collatz(i)
    print(i)

In [83]:
def main():
    collatz(10)
def collatz(x):
    if (number % 2 == 0):
        return number // 2

    elif (number % 2 == 1):
        return 3 * number + 1
        collatz(x)
    else
        print(x)
        x = 3*x + 1
        collatz(x)
if __name__ == "__main__":
    main()

SyntaxError: invalid syntax (<ipython-input-83-10f7bbea3f4c>, line 10)

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [9]:
def binary(n): 
    s = str(n % 2)
    
    if n >> 1 > 0: 
        s += binary(n >> 1)
        
    return s

In [10]:
binary(0)

'0'

In [11]:
binary(3)

'11'

In [12]:
binary(1)

'1'

In [13]:
binary(9)

'1001'

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
 BDAT 1004 â€“ Data Programming
Page 5 of 7
W2020
BDAT 1004 Computer Studies
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [14]:
from html.parser import HTMLParser

class MyHTMLParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
         if tag == 'a':
            # search for href attribute and print its value
            for attr in attrs:
                if attr[0] == 'href':
                    print(attr[1])

    def handle_endtag(self, tag):
        print("Encountered some data  :", tag)
        

    def handle_data(self, data):
        print("Encountered some data  :", data)

parser = MyHTMLParser()
parser.feed('<html><head><title>Test</title></head>'
            '<body><h1>Parse me!</h1></body></html>')

Encountered some data  : Test
Encountered some data  : title
Encountered some data  : head
Encountered some data  : Parse me!
Encountered some data  : h1
Encountered some data  : body
Encountered some data  : html

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL

In [ ]:
def webdir()
  infile = open('C:\\Users\\jane\\Downloads\\assignment.html')
    a=infile.read()
    infile.close()

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

select * from table

select distinct city from table

select * from table where Country ='India'

select * from table where Season ='Fall'

select city, season from table where rainfall between 200 and 400

select city, Country from table where season = 'Fall' and temperature >20  between 200 and 400 order by Temperature asc

select sum(rainfall) as total_annual_rainfall from table where city = "Cairo"

select season, sum(Rainfall) as total_rainfall from table group by season

In [17]:
%load_ext sql

In [26]:
%sql sqlite://

'Connected: @None'

In [44]:
%%sql
create table testdata(city varchar(13),country varchar(13),season varchar(13),temperature float, rainfall float);
insert into infro values('Mumbai','India','Winter', 24.8,5.9);
insert into infro values('Mumbai','India','Spring', 28.4,16.2);
insert into infro values('Mumbai','India','Summer', 27.9,1549.4);
insert into infro values('Mumbai','India','Fall', 27.6,346.0);
insert into infro values('London','United Kingdom','Winter', 4.2,207.7 );
insert into infro values('London','United Kingdom','Spring', 8.3,169.6);
insert into infro values('London','United Kingdom','Summer', 15.7,157.0);
insert into infro values('Cairo','Egypt','Winter', 13.6,16.5);
insert into infro values('Cairo','Egypt','Spring', 20.7,6.5);
insert into infro values('Cairo','Egypt','Summer', 27.7,0.1);
insert into infro values('Cairo','Egypt','Fall', 22.2,4.5);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [53]:
%%sql
select * from testdata

 * sqlite://
Done.

[]

In [48]:
%%sql
select temperature from testdata

 * sqlite://
Done.

[]

In [40]:
%%sql
select Temputer from s

 * sqlite://
(sqlite3.OperationalError) no such column: Temputer
[SQL: select Temputer from s]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [52]:
%%sql
select city from testdata

 * sqlite://
Done.

[]

In [54]:
%%sql
select * from testdata where country=="india";

 * sqlite://
Done.

[]

In [55]:
%%sql
select * from testdata where season=="falls";

 * sqlite://
Done.

[]

In [58]:
%%sql
select city, season from testdata where rainfall between 200 and 400

 * sqlite://
Done.

[]

In [61]:
%%sql
select distinct city from testdata

 * sqlite://
Done.

[]

In [63]:
%%sql
select sum(rainfall) as total_annual_rainfall from testdata where city = "Cairo"

 * sqlite://
Done.

[(None,)]

In [66]:
%%sql
select city, Country from testdata where season = 'Fall' and temperature >20  between 200 and 400 order by Temperature asc

 * sqlite://
Done.

[]

In [72]:
%%sql
select season, sum(Rainfall) as total_rainfall from testdata group by season

 * sqlite://
Done.

[]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.

In [73]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Cap=[s.upper() for s in words if isinstance(s,str)==True]
low=[s.lower() for s in words if isinstance(s,str)==True]
wordlength=[]
for i in words:
    x=len(i)
    wordlength.append(x)

In [74]:
print(Cap)
print(low)
wordlength

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [79]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [81]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']